

*{
		margin: 0;
		padding: 0;
		font-family: sans-serif;


}





body{
	 overflow-x: hidden; /* Hide horizontal scrollbar */
	 background: #1f1e1e;
    	

}
.cons{
	position: relative;
	left: 1200px;
	top: -60px;
}

.buttons{
	display:flex;
	right: 70px;

  flex-direction:row;
  align-items:center;
  list-style: none;
  padding-top: 20px;
  background: transparent;
	cursor: pointer;
	width: auto;
	height: auto;
}
.buttons a{
	position: relative;
	display: inline;
	color:  black;
	list-style: none;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 2px;
	background: transparent;
	margin: 10px;
	

	
	
}
.buttons  :hover{

color: red;



}

.navi{
    		background-color: whitesmoke ;
    		width: 100%;
    		height: 70px;
    		margin-top: 30px;
    		border-radius: 50px;
    		padding: 0;
    }
.logo img{
 	   	height: 150px;
 	   	width: 200px;
 	   	background: transparent;
    }
 .logo{
    	background: transparent;
    	margin: 0;
    	padding: 0;
    	position: relative;
    	top: -40px;
    }
.statsblock{

	width: 100%;
	height: auto;
	margin: 20px auto;
	background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
	
	border-radius: 5px;
	 box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
	 display: flex;
	 flex-direction: row;
	 

}
.photo{
	display: inline-block;
	text-align: center;
}
.photo img{

	width: 500px;
	height: 500px;
	margin: 30px;
	border-radius: 20px;

}    
.photo h4{
	color: whitesmoke;
	font-size: 50px;
	margin: 10px -10px;
}
.bio{
	padding-top: 60px;


}
.bio h7{
	color: whitesmoke;
	font-size: 50px;
	margin: 50px 0px 10px;
}
.bio p{
	color: whitesmoke;
	font-size: 17px;
}
.highlight{color: #FF5F1F;}
.sub{
	border: none;
	color: #FF5F1F;
	padding: 15px 32px;
	font-size: 16px;
	text-align: center;
	border-radius: 50px;
	transition: transform 0.2s;


}
.sub:hover{
	transform: translateY(-5px);

	box-shadow: 1px 1px 10px 10px #FF5F1F;


}
.his h4{
	color: whitesmoke;
	font-size: 50px;
	margin: 50px 0px 10px;
}